[submodule "micropython-mqtt"]
	path = micropython-mqtt
	url = https://github.com/peterhinch/micropython-mqtt
[submodule "micropython-lib"]
	path = micropython-lib
	url = https://github.com/micropython/micropython-lib
[submodule "micropython-async"]
	path = micropython-async
	url = https://github.com/peterhinch/micropython-async
